
@media (max-width:1366px) {
    header#header .container {
        max-width: 95%;
    }

    header#header .wrap-right .link-hotline {
        font-size: 22px;
        margin-right: 15px;
    }
    #product-category{
        overflow: hidden;
    }
}

@media (max-width:1280px) {
    header#header .wrap-right .link-hotline {
        font-size: 20px;
        margin-right: 15px;
    }

    header#header .wrap-right .wrap-search {
        width: 190px;
    }

    header#header .wrap-right .wrap-icon {
        margin-left: 15px;
    }
    #banner-main {
        height: 800px;
    }
    #banner-main .wrap-content-banner-main h2 {
        font-size: 60px;
        line-height: 1.5;
        margin-top: 15px;
    }
    #banner-main .wrap-content-banner-main p {
        font-size: 76px;
        margin-top: 10px;
    }
    .wrap-title {
        padding-top: 55px;
    }
    .wrap-title h3 {
        font-size: 32px;
        margin-left: 20px;
    }
    #product-category .wrap-category-product .item-category img{
        width: 130px;
        height: 130px;
        min-width: auto;
    }
    #product-category .wrap-category-product .item-category h5 {
        font-size: 20px;
    }
}
@media (max-width:1080px){
    #banner-main .wrap-content-banner-main{
        max-width: 100%;
        padding: 0 20px 0 50px;
    }
    section.menu .container #nav>ul li a {
        font-size: 16px;
        padding: 17px 20px;
    }
    section.menu .container #nav>ul {
        justify-content: space-around;
    }
}
@media (max-width:1024px) {

    header#header .wrap-right .link-hotline,
    header#header .wrap-icon-logo {
        display: none;
    }

    .mobile {
        display: block;
    }

    .pc-web {
        display: none !important;
    }

    header#header .wrap-right .wrap-icon.icon-cart {
        margin-right: 40px;
    }

    header#header div.icon-bar {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 39px;
        height: 39px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .4s;
        background-color: transparent;
        border-radius: 100%;
        transform: translateY(-50%);
    }

    header#header div.icon-bar span {
        position: relative;
        width: 18px;
        height: 2px;
        background: #FFF;
        z-index: 1;
        display: block;
        transition: all .4s;
        z-index: 31;
    }

    header#header div.icon-bar span:before,
    header#header div.icon-bar span:after {
        content: '';
        position: absolute;
        width: 100%;
        background: #FFF;
        left: 0;
        height: 100%;
        transition: all .3s;
    }

    header#header div.icon-bar span:before {
        top: -7px;
    }

    header#header div.icon-bar span:after {
        top: 7px;
        width: 100%;
    }

    /* header#header.active{position: fixed;} */
    header#header.active div.icon-bar span {
        background: transparent;
    }

    header#header.active div.icon-bar span::before,
    header#header.active div.icon-bar span::after {
        /* opacity: 0;
        visibility: hidden; */
        top: 0;
    }

    /* header#header.active nav#nav.menu-header{transform: translateX(0);} */
    header#header.active div.icon-bar:hover span::before,
    header#header.active div.icon-bar:hover span::after {
        opacity: 1;
        visibility: visible;
    }

    header#header.active div.icon-bar span::before {
        transform: rotate(45deg);
    }

    header#header.active div.icon-bar span::after {
        transform: rotate(-45deg);
    }

    header#header .wrap-right .wrap-search input {
        width: 0;
        padding: 0;
        transform: translateY(-60px);
        transition: all .4s;
    }

    header#header .wrap-right .wrap-search img {
        position: relative;
        top: auto;
        transform: none;
        left: 0;
    }

    header#header .wrap-right .wrap-search {
        width: max-content;
        transition: all .4s;
    }

    header#header .wrap-right .wrap-search.active {
        transition: all .4s;
    }

    header#header .wrap-right .wrap-search>div {
        display: none;
    }

    header#header .wrap-right .wrap-search>div {
        position: fixed;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        background: #00000066;
        width: 100%;
        height: 100vh;
        z-index: 11;
        transition: all .4s;
        transform: translateY(-100%);
    }
    header#header .wrap-right .wrap-search.active>div {
        transform: translateY(0);
    }

    header#header .wrap-right .wrap-search.active input {
        width: 100%;
        height: 50px;
        padding: 10px 20px 10px 55px;
        position: relative;
        z-index: 12;
        color: var(--backfround-blue);
        transition: all .4s;
        transform: translateY(0);
        background-image: url(../images/icon-search.png);
        background-repeat: no-repeat;
        background-position-x: 15px;
        background-position-y: 11px;
        background-color: transparent;
        min-width: 300px;
    }
    header#header .wrap-right .wrap-search>div>div{
        display: inline-block;
        width: max-content;
        height: max-content;
        margin-top: 30%;
        position: relative;
        background: #FFFFFF;
        border-radius: 30px;
        overflow: hidden;
    }
    header#header .wrap-right .wrap-search>div>div::before{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        background:#1F3118;

    }
    body.fixed{overflow: hidden;}
    section.menu nav#nav{
        
    position: fixed;
    top: 68px;
    left: 0;
    max-width: 250px;
    width: 100%;
    z-index: 15;
    transform: translateX(-100%);
    transition: all .4s;
    background: var(--backfround-blue);
    }
    section.menu.active .container #nav{
        transform: translateX(0);
        transition: all .4s;
    }
    section.menu .container #nav>ul {
        flex-direction: column;
        height: calc(100vh - 68px);
        overflow-y: scroll;
        align-items: flex-start;
        justify-content: flex-start;
        transition: all .4s;
        padding-bottom: 60px;
    }
    header#header{
        padding: 13px 0;
    }
    header#header.scroll{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        animation: stuckMoveDown .9s;
    }
    section.menu.active nav#nav::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background: #00000066;
        z-index: -1;
    }
    section.menu .container #nav ul li{width: 100%;position: relative;}
    section.menu .container #nav ul li .icon-toggleSubmenu{
        position: absolute;
        top: 11px;
        right: 0;
        font-size: 22px;
        color: #FFFFFF;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.menu .container #nav ul li .icon-toggleSubmenu i{
        transition: all .4s;
    }
    section.menu .container #nav ul li .icon-toggleSubmenu.active i{
        transform: rotate(90deg);
    }
    section.menu .container #nav li>.wrap-memu-child{
        position: relative;
        opacity: 1;
        visibility: visible;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        display: none;
        transition: none;
    }
    section.menu .container #nav .wrap-memu-child li ul{
        left: 0;
        display: none;
    }
    section.menu .container #nav .wrap-memu-child a {
        text-transform: capitalize;
        font-size: 16px;
    }
    section.menu .container #nav .wrap-memu-child li .icon-toggleSubmenu{
        top: 3px;
    }
    section.menu .container #nav>ul li a {
        font-size: 16px;
        padding: 15px 20px;
        transition: all .4s;
    }


    /*  */
    #banner-main .wrap-content-banner-main h2 {
        font-size: 45px;
        line-height: 1.3;
    }
    #banner-main .wrap-content-banner-main p {
        font-size: 55px;
        width: 45%;
    }
    #banner-main .wrap-content-banner-main>img {
        width: 130px;
    }
    .wrap-title h3 {
        font-size: 28px;
        margin-left: 15px;
    }
    #product-hot .owl-theme .owl-nav {
        top: -84px;
    }
    #banner-main .wrap-content-banner-main h2 br {
        display: block;
        height: 0;
        line-height: 1px;
    }
    #banner-main .wrap-content-banner-main{
        margin-top: 0;
    }
    #banner-main {
        height: 735px;
    }
    section#story {
        padding-bottom: 100px;
    }
    section#coop-dev .wrap-title h3{margin-left: 0;}
    .wrap-title p {
        font-size: 16px;
    }
    #product-category .wrap-category-product .item-category h5 {
        font-size: 18px;
        margin-top: 20px;
    }
    #product-category .wrap-category-product .item-category img {
        width: 120px;
        height: 120px;
    }
}
@media (max-width:991px) {
    section#story .wrap-image-story{
        padding-bottom: 30px;
        margin-right: 0;
    }
    section#story .owl-carousel .item h5 {
        font-size: 28px;
    }
    #product-category .wrap-category-product .item-category{
        display: flex;
        flex-direction: column;
    }
    #product-category .wrap-category-product .item-category img {
        width: 160px;
        height: 160px;
    }
}
@media (max-width:768px) {
    #banner-main .wrap-content-banner-main h2 {
        font-size: 37px;
    }
    #banner-main .wrap-content-banner-main p {
        font-size: 46px;
        width: 51%;
    }
    #banner-main .wrap-content-banner-main{
        padding-left: 20px;
    }
    #product-hot .owl-theme .owl-nav {
        position: relative;
        top: 25px;
    }
    .wrap-title h3 {
        font-size: 21px;
        line-height: 1.1;
    }
    .wrap-title h3 br{display: block;}
    #product-category .wrap-category-product .item-category h5 {
        font-size: 16px;
        min-height: 44px;
        text-align: center;
    }
    section#proud-suen .box-name {
        justify-content: center;
        flex-direction: column;
    }
    section#proud-suen .box-name h5 {
        font-size: 16px;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 10px;
    }
    section#proud-suen .content-pound {
        font-size: 14px;
    }
    section#proud-suen .item>div {
        padding: 20px 20px 40px;
    }
    section#proud-suen .icon-dot {
        right: 15px;
        bottom: 10px;
    }
    #product-hot .wrap-content-product .contents {
        font-size: 13px;
    }
    #product-hot .wrap-content-product .wrap-price>div p:first-child{
        font-size: 14px;
    }
    section#proud-suen {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    section#proud-suen .owl-theme .owl-dots {
        margin-top: 15px;
    }
    section#blog .box-image-blog {
        height: 212px;
    }
    section#blog .content-blog {
        padding: 30px 20px 20px;
    }
    section#blog .content-blog .title {
        font-size: 16px;
    }
    .owl-theme .owl-nav, .owl-theme .owl-dots {
        text-align: center!important
    }
    section#story .owl-carousel .item h5 {
        font-size: 16px;
    }
    section#story .owl-carousel .item p{
        font-size: 14px;
    }
    section#story {
        padding-bottom: 50px;
    }
    .wrap-title p {
        display: none;
    }
    section#coop-dev .item-copdev .title-toggle-copdev {
        padding: 20px 0 10px;
    }
    section#coop-dev .item-copdev {
        padding: 0 25px 10px
    }
    section#coop-dev .item-copdev .title-toggle-copdev h5 {
        font-size: 18px;
    }
    section#coop-dev .item-copdev .title-toggle-copdev img {
        min-width: 15px;
        max-width: 15px;
    }
    section#coop-dev .item-copdev .content-copdev-item {
        font-size: 14px;
        line-height: 1.4;
    }
    section#coop-dev {
        padding-bottom: 25px;
    }
    footer#footer .wrap-social{
        margin-bottom: 30px;
    }
    section#page-member>img {
        min-height: 420px;
        height: 420px;
    }
}
@media (max-width:576px) {
    footer#footer{
        padding-bottom: 100px;
    }
    header#header .container {
        max-width: 100%;
    }
    header#header .wrap-right .wrap-icon.icon-cart {
        margin-right: 45px;
        margin-left: 10px;
    }
    header#header .wrap-right .wrap-icon {
        margin-left: 10px;
    }
    /* header#header .wrap-right .wrap-icon img {
        width: 20px;
    } */
    header#header .wrap-right .wrap-icon.icon-cart .number-cart {
        min-width: 20px;
        height: 20px;
        top: -10px;
        right: -10px;
    }
    #banner-main .wrap-content-banner-main p {
        font-size: 46px;
        width: 55%;
    }
    #banner-main {
        height: 580px;
    }
    #banner-main .wrap-content-banner-main {
        margin-top: -30px;
    }
    #product-detail .owl-carousel .owl-nav button.owl-prev {
        left: -15px;
    }
    #product-detail .owl-carousel .owl-nav button.owl-next {
        right: -15px;
    }
    #product-detail .carousel-indicators li {
        text-indent: 0;
        width: 100%;
        height: 88px;
    }
    .owl-carousel .owl-stage-outer .item{
        padding: 0 3px;
    }
    #product-category .wrap-category-product .item-category img {
        width: 130px;
        height: 130px;
    }
    #product-category .wrap-category-product .item-category h5 {
        font-size: 14px;
        min-height: 39px;
    }
    #product-category {
        padding-bottom: 20px;
    }
}
@media (max-width:414px){
    #banner-main .wrap-content-banner-main p {
        width: 65%;
    }
    #product-hot .owl-carousel .item .wrap-content-product{
        text-align: center;
    }
    #product-hot .wrap-content-product .wrap-price>div{
        flex-direction: column;
    }
    #product-hot .wrap-content-product .btn{
        font-size: 13px;
    }
}
@media (max-width:280px){
    header#header .wrap-right .wrap-search.active input {
        min-width: 250px;
    }
}






