@font-face {
    font-family: OpenSans-Regular;
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans-Medium;
    src: url("./fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url("./fonts//OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Bebas-Neue-Pro-Bold;
    src: url("./fonts/Bebas-Neue-Pro-Bold.otf") format("opentype");
}

@font-face {
    font-family: MissLeGatees-Regular;
    src: url("./fonts/MissLeGatees-Regularfn.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

:root {
    --font-normal: "OpenSans-Regular";
    --font-bold: "OpenSans-Bold";
    --font-medium: "OpenSans-Medium";
    --font-semibold: "OpenSans-SemiBold";
    --font-Bebas-Neue-Pro-Bold: "Bebas-Neue-Pro-Bold";
    --font-MissLeGatees: "MissLeGatees-Regular";
    --font-Montserrat: "Montserrat-Regular";
    --background-main: #FFFFFF;
    --backfround-blue: #1F3118;
    --color-main: #97C13D;
    --color-text: #363A40
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: var(--color-text);
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

body {
    font-family: var(--font-normal);
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
    font-family: var(--font-bold);
    color: var(--color-text);
    line-height: 1;
}


img {
    max-width: 100%;
    object-fit: cover;
}


a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    max-width: 1254px;
}

.font-bold {
    font-family: var(--font-semibold);
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: var(--background-main);
}

.bg-gray {
    background-color: var(--background-gray-main);
}

.title-color {
    color: var(--color-title);
}

.color-gray {
    color: var(--color-text);
}

.color-blue-main {
    color: var(--color-blue-main)
}

.color-main {
    color: var(--color-main) !important
}

.mobile {
    display: none;
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}


/* HEADER */

header#header {
    background-color: var(--color-main);
    padding: 26px 0;
    position: relative;
}

header#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#header .wrap-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header#header .wrap-right .link-hotline {
    font-size: 24px;
    line-height: 1;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 20px;
    font-family: var(--font-Bebas-Neue-Pro-Bold);
}

header#header .wrap-right .wrap-search {
    width: 214px;
    position: relative;
}

header#header .wrap-right .wrap-search input {
    background-color: rgb(255 255 255 / 40%);
    height: 30px;
    border-radius: 30px;
    width: 100%;
    padding-left: 45px;
    color: #FFFFFF;
    padding-right: 15px;
}

header#header .wrap-right .wrap-search img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

header#header .wrap-right .wrap-icon {
    margin-left: 20px;
}

header#header .wrap-icon-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header#header .wrap-right .wrap-icon.icon-cart {
    position: relative;
}

header#header .wrap-right .wrap-icon.icon-cart .number-cart {
    background-color: #FFFFFF;
    min-width: 22px;
    display: inline-flex;
    border-radius: 100%;
    height: 22px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--color-main);
    position: absolute;
    top: -10px;
    right: -20px;
}


/* banner-main */
#banner-main {
    height: 880px;
    overflow: hidden;
}

#banner-main .owl-carousel .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F8FFFA 100%, #FFFFFF 0%);
}

#banner-main #slide-main,
#banner-main .owl-carousel .owl-stage-outer,
#banner-main .owl-carousel .owl-stage,
#banner-main .owl-carousel.owl-drag .owl-item,
#banner-main .owl-carousel .item,
#banner-main .owl-carousel .item a,
#banner-main .owl-carousel .item img {
    height: 100%;
}

#banner-main .owl-carousel .item a {
    display: block;
    width: 100%;
    max-width: 1440px;
}

#banner-main .owl-theme .owl-dots {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

#banner-main .owl-theme .owl-nav {
    display: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px;
    background: rgba(31, 49, 24, 0.3);
    border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--backfround-blue);
    border-color: #5A7434;
    ;
}

#banner-main .wrap-content-banner-main {
    width: 100%;
    max-width: 1052px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
}

#banner-main .wrap-content-banner-main>img {
    width: max-content;
}

#banner-main .wrap-content-banner-main h2 {
    color: var(--backfround-blue);
    font-size: 64px;
    line-height: 1.89;
    margin-top: 25px;
    font-family: var(--font-Bebas-Neue-Pro-Bold);
}

#banner-main .wrap-content-banner-main h2 br,
.wrap-title h3 br {
    display: contents;
}

#banner-main a:hover .wrap-content-banner-main h2 {
    color: var(--backfround-blue);
}

#banner-main .wrap-content-banner-main p {
    font-size: 84px;
    line-height: 1;
    color: #5A7434;
    font-family: var(--font-MissLeGatees);
    width: 55%;
}


/* MENU  */
@keyframes stuckMoveDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes stuckMoveUp {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0)
    }
}

section.menu {
    background: var(--color-main);
    position: sticky;
    top: 0;
    z-index: 10;
}

section.menu .container #nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.menu .container #nav>ul li a {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.34;
    font-family: var(--font-medium);
    display: block;
    padding: 17px 35px;
    transition: all .4s;
}

section.menu .container #nav>ul li:hover>a,
section.menu .container #nav>ul li.active>a {
    color:var(--color-blue-main)
}

section.menu .container #nav ul li {
    position: relative;
}

section.menu .container #nav .wrap-memu-child {
    position: absolute;
    top: 100%;
    background: var(--backfround-blue);
    min-width: 150px;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    left: 0;
}

section.menu .container #nav .wrap-memu-child a {
    padding-top: 10px;
    padding-bottom: 10px;
}

section.menu .container #nav li .wrap-memu-child>li:hover>a {
    background: var(--color-main);
}

section.menu .container #nav li:hover>.wrap-memu-child {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

section.menu .container #nav .wrap-memu-child li ul {
    left: 100%;
    top: 0;
}

section.menu .container #nav .icon-toggleSubmenu {
    display: none;
}

/* product hot  */
.wrap-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 25px;
}

.wrap-title h3 {
    font-size: 40px;
    color: var(--backfround-blue);
    margin-left: 25px;
    text-transform: capitalize;
    font-family: var(--font-semibold);
}

.wrap-title p {
    font-size: 20px;
    line-height: 1.55;
    margin-top: 10px;
}

#product-hot .owl-carousel .item {
    color: var(--color-text);
}

#product-hot .owl-carousel .item .wrap-image-product-hot {
    overflow: hidden;
    height: 260px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#product-hot .owl-carousel .item .wrap-image-product-hot img {
    transition: all .4s;
    width: 100%;
    height: 100%;
}

#product-hot .owl-carousel .item .wrap-image-product-hot img:hover {
    transform: scale(1.1);
}

#product-hot .owl-carousel .item .wrap-content-product .category-name {
    background: #DEF0D0;
    font-size: 12px;
    padding: 4.5px 6px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: inline-block;
}

#product-hot .wrap-content-product a {
    display: block;
}

#product-hot .wrap-content-product h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#product-hot .wrap-content-product .contents {
    text-align: justify;
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
}

#product-hot .wrap-content-product .wrap-price>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

#product-hot .wrap-content-product .btn {
    margin-top: 35px;
    background: var(--color-main);
    color: #FFFFFF;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    font-size: 14px;
    display: flex;
}

#product-hot .wrap-content-product .btn:hover {
    background: var(--backfround-blue);
}

#product-hot .owl-theme .owl-dots {
    display: none;
}

#product-hot .owl-theme .owl-nav {
    position: absolute;
    top: -88px;
    right: 0;
    margin-top: 0;
}

.owl-carousel .owl-nav button {
    position: relative;
    width: 48px;
    height: 48px;
}

.owl-carousel .owl-nav button span {
    display: none;
}

.owl-carousel .owl-nav button::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #DEF0D0;
    border-radius: 100%;
    font-family: "Font Awesome 5 pro";
    color: #5A7434;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.owl-carousel .owl-nav button.owl-prev::before {
    content: '\f104';
}

.owl-carousel .owl-nav button.owl-next::before {
    content: '\f105';
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

/* product-category  */
#product-category{
    padding-bottom: 60px;
}
#product-category .wrap-category-product {
    display: flex;
    margin-top: 40px;
}
#product-category .wrap-category-product .item-category{
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
}
#product-category .wrap-category-product .item-category>a.box-image{
    border-radius: 100%;
    background: #D9D9D9;
    width: max-content;
}
#product-category .wrap-category-product .item-category img{
    width: 160px;
    height: 160px;
    min-width: 160px;
    border-radius: 100%;
}
#product-category .wrap-category-product .item-category h5{
    font-size: 24px;
    line-height: 1.34;
    color: #000;
    font-family: var(--font-normal);
    text-transform: uppercase;
    margin-top: 25px;
}
#product-category .wrap-category-product .item-category>a:hover h5{
    color: var(--color-main);
}



/* #banner-body */
#banner-body {
    padding-top: 50px;
}

#banner-body img {
    width: 100%;
}


/* proud-suen */
section#proud-suen {
    padding-top: 80px;
    padding-bottom: 50px;
}

section#proud-suen .wrap-title {
    padding-top: 10px;
}

section#proud-suen .item {
    padding: 10px;
    height: 100%;
}

section#proud-suen .owl-carousel .owl-stage {
    height: 100%;
    display: flex;
}

section#proud-suen .item>div {
    background: #FFFFFF;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.0792996);
    border-radius: 12px;
    padding: 35px 35px 50px 35px;
    display: block;
    position: relative;
    height: 100%;
}

section#proud-suen .box-name {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #CDCECF;
}

section#proud-suen .box-name img {
    min-width: 60px;
    height: 60px;
    border-radius: 100%;
    max-width: 60px;
}

section#proud-suen .box-name h5 {
    color: #363A40;
    font-size: 20px;
    line-height: 1.34;
    margin-bottom: 0;
    margin-left: 15px;
    font-family: var(--font-medium);
}

section#proud-suen .content-pound {
    font-size: 20px;
    color: #666666;
    line-height: 1.34;
    font-family: var(--font-normal);
    padding-top: 15px;
    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

section#proud-suen .icon-dot {
    width: max-content;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

section#proud-suen .owl-theme .owl-nav {
    display: none;
}

section#proud-suen .owl-theme .owl-dots {
    text-align: right;
    margin-top: 45px;
}


/* blog */
section#blog {
    padding-bottom: 40px;
}

section#blog .wrap-title {
    padding-top: 0;
}

section#blog .item-blog {
    border: 2px solid #FAFBFC;
    box-sizing: border-box;
    border-radius: 15px;
    background: #FFFFFF;
    overflow: hidden;
}

section#blog .box-image-blog {
    overflow: hidden;
    height: 290px;
}

section#blog .box-image-blog img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}

section#blog .box-image-blog img:hover {
    transform: scale(1.1);
}

section#blog .content-blog {
    padding: 40px 30px 30px;
}

section#blog .content-blog .title {
    font-size: 20px;
    font-family: var(--font-medium);
    line-height: 1.34;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

section#blog .content-blog .link-more {
    font-family: var(--font-bold);
    display: flex;
    align-items: center;
    color: #5A7434;
    transition: all .4s;
    padding-top: 25px;
}

section#blog .content-blog .link-more img {
    margin-left: 10px;
    max-width: max-content;
}

section#blog .content-blog .link-more:hover {
    color: var(--backfround-blue);
}

section#blog .owl-theme .owl-nav {
    display: none;
}

section#blog .owl-theme .owl-dots {
    text-align: right;
    margin-top: 30px;
}

/* story  */
section#story {
    padding-bottom: 125px;
}

section#story .wrap-title {
    padding-top: 0;
}

section#story .owl-carousel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#story .wrap-image-story {
    overflow: hidden;
    margin-right: 40px;
    border-radius: 15px;
}

section#story .wrap-image-story img {
    width: 100%;
    border-radius: 15px;
    transition: all .4s;
}

section#story .wrap-image-story img:hover {
    transform: scale(1.1);
}

section#story .owl-carousel .item h5 {
    font-size: 32px;
    color: #323B4B;
    font-family: var(--font-medium);
    line-height: 1.34;
    margin-bottom: 15px;
}

section#story .owl-carousel .item p {
    color: #8A94A6;
    font-size: 18px;
    line-height: 1.34;
}

section#story .owl-theme .owl-dots {
    display: none;
}

section#story .owl-theme .owl-nav {
    text-align: right;
}

/* coop-dev */
section#coop-dev {
    background: #DEF0D0;
    padding-bottom: 95px;
}

section#coop-dev .wrap-title,
section#page-member .wrap-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 45px;
}

section#coop-dev .wrap-title h3,
section#page-member .wrap-title h3 {
    padding-top: 15px;
}

section#coop-dev .wrap-title p {
    text-transform: uppercase;
}

.wrap-content-coop-dev {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 20px;
}

section#coop-dev .item-copdev {
    padding: 0 30px 15px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 20px;
}

section#coop-dev .item-copdev .title-toggle-copdev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
}

section#coop-dev .item-copdev .title-toggle-copdev h5 {
    font-size: 24px;
    color: #1F3118;
    line-height: 1.45;
    cursor: pointer;
}

section#coop-dev .item-copdev .title-toggle-copdev img {
    min-width: max-content;
    max-width: max-content;
    cursor: pointer;
    transition: all .4s;
}

section#coop-dev .item-copdev .title-toggle-copdev.active img {
    transform: rotate(180deg);
    transition: all .4s;
}

section#coop-dev .item-copdev .content-copdev-item {
    font-size: 20px;
    line-height: 1.3;
    color: #666666;
    display: block;
}


/* page-member */
section#page-member {
    position: relative;
    background: #DEF0D0;
}

section#page-member>img {
    min-height: 488px;
    width: 100%;
}

section#page-member .wrap-content-page-member {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

section#page-member .container {
    height: 100%;
}

section#page-member .wrap-member {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#page-member .wrap-member .wrap-title {
    padding-top: 0;
    padding-bottom: 20px;
}
section#page-member .wrap-member .wrap-title h3{
    padding-top: 25px;
}

section#page-member .wrap-member a {
    border-radius: 32px;
    color: #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 40px;
    width: max-content;
    transition: all .4s;
    background: #84B741;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section#page-member .wrap-member a:hover {
    background: var(--backfround-blue);
}


/* footer  */
footer#footer {
    padding: 70px 0 85px;
    background: url(../images/background-footer.png);
    background-position: center;
    position: relative;
}

footer#footer a {
    color: #FFFFFF;
}

footer#footer .copyright {
    font-size: 16px;
    line-height: 1.45;
    font-family: var(--font-Montserrat);
    margin-top: 15px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

footer#footer .wrap-social {
    display: flex;
    align-items: center;
}

footer#footer .wrap-social .item-social {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #F6F7FB;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: all .4s;
}

footer#footer .wrap-social .item-social img {
    transition: all .4s;
}

footer#footer .wrap-social .item-social:hover img {
    transform: scale(1.1);
}

footer#footer .title-menu-footer {
    font-size: 24px;
    line-height: 1.45;
    color: #FFFFFF;
    margin-bottom: 25px;
}


footer#footer .wrap-menu-footer a {
    display: block;
    font-size: 16px;
    line-height: 1.45;
    margin-bottom: 15px;
    transition: all .4s;
    text-transform: capitalize;
}

footer#footer .wrap-menu-footer a:hover {
    color: var(--color-main);
}

/* detail  */


.link_title{
	padding:30px 0;
	background:#ebeaea;
}
.link_title a{
	color: #0D0D0D;
	text-decoration:none;
}
.link_title h1,
.link_title h2{
	display: inline-block;
	font-size:15px;
}
.link_title .titleNamePage{
	color: #88b541
}

#product-detail{
	padding:50px 0;
}
#product-detail .carousel-indicators li {
	text-indent: 0;
	width: 98px;
    height: 88px;
    opacity: 1;
    border: 0;
    padding: 5px 0;
    background:transparent;
    margin:0;
    border: 1px solid #ebebeb;
}
#product-detail .carousel-indicators {
	position: relative;
	width: 100%;
    margin: auto;
    max-width: 440px;
}
.wraaaa .owl-theme .owl-dots{
	display: none;
}
.wraaaa{
	width: 100%;
	background:transparent;
	margin-top: 11px
}
.qeq .item img{
	margin:0;
	height: 100%;
    object-fit: cover;
}
#product-detail .carousel-item img{
	margin:0;
}
#product-detail .img_banner_5{
	background-color:#F5F5F5;
}
#product-detail .owl-carousel .owl-nav button.owl-prev,
#product-detail .owl-carousel .owl-nav button.owl-next{
	position: absolute;
	top: 47%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	box-shadow: 0 1px 3px #b3b3b3;
	border-radius: 100%;
	background:#fff;
}
#product-detail .owl-carousel .owl-nav button::before{
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bebebe;
}
#product-detail .owl-carousel .owl-nav button.owl-prev{
	left: -50px;
}
#product-detail .owl-carousel .owl-nav button.owl-next{
	right: -50px;
}
#product-detail .owl-theme .owl-nav {
    margin-top: 0px;
    /* display: none!important; */
}
#product-detail .owl-theme .owl-nav.visiable{
    display: block!important;
}
#product-detail .owl-carousel .owl-nav button.owl-prev span,
#product-detail .owl-carousel .owl-nav button.owl-next span{
	display: block
}

#product-detail .owl-theme .owl-nav [class*=owl-]:hover {
	background:#fff;
	color: #000
}
#product-detail .carousel-item {
	height: auto;
    border: 1px solid #ebebeb;
}
.tab_detail{
	padding:40px 0;
}
.tab_detail .tab-content{
	padding-top: 20px
}
.tab_detail .tab-content ul{
	list-style: none;
	margin-bottom: 20px
}
.tab_detail .tab-content .title_detail{
	margin-bottom: 4px;
	color: #97c153
}
.tab_detail .tab-content ul li{
	padding-left: 4px
}
.tab_detail .tab-content ul li span{
	display: inline-block;
	padding-right: 6px;
}
.tab_detail .nav-tabs .nav-item {
    border:none;
	padding:10px 20px;
	background:transparent;
	color: #bebebe;
    font-family: var(--font-Bebas-Neue-Pro-Bold);
    font-size: 20px;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}
.tab_detail .nav-tabs .nav-item.show .nav-link,
.tab_detail .nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: #000;
    
}
.tab_detail .nav-tabs .nav-item:hover{
    color: #000;
}
.tab_detail .nav-tabs {
	border:none;
	display: inline-flex;
	box-shadow:none;
}
/**/
.wrap_content{
	padding-left: 10px
}
.wrap_content h2{
    margin-bottom: 10px;
    text-transform: capitalize;
}
.wrap_content h2 a{
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: #000
}
.contactdetail .number_product{
	display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.contactdetail .number_product .number{
	display: inline-flex;
    max-width: max-content;
    margin-bottom: 20px;
	margin-right: 30px;
	/* box-shadow: 0 2px 5px #a0a0a0; */
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ebebeb;
}
.contactdetail .number span{
	font-size: 22px;
    background: transparent;
    color: #000;
    padding: 0 15px;
    cursor: pointer;
}
.contactdetail .number .plus{}
.contactdetail .number #number_gues{
	padding: 5px;
    width: 70px;
    border:none;
    text-align: center;
}
#product-detail .wrap_content .green,
#product-detail .wrap_content .green a{
	color: #97c153;
	font-size:18px;
}
.contactdetail .mua_hang button{
	background: #97c153;
    border: none;
    height: 40px;
    padding: 0 25px;
    color: #fff;
    border: 1px solid var(--color-main);
    text-transform: uppercase;
    font-size: 14px;
    transition: all .4s;
}
.contactdetail .mua_hang button:hover{
    color: var(--color-main);
    background: transparent;
    border-color: var(--color-main);
}
.wrap_content .price{
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}
.wrap_content .price span{
    margin-top: 10px;
    font-family: var(--font-Bebas-Neue-Pro-Bold);
    font-size: 30px;
}
.wrap_content .content{
    margin-bottom: 20px;
}
.wrap_content .social{
	margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
}
.wrap_content .social ul{
	display: inline-flex;
	margin-bottom: 30px;
	list-style: none
}
.wrap_content .social ul li{
    margin-right: 15px;
}
.wrap_content .social ul a{
	display: flex;
	width: 45px;
    height: 45px;
	padding:0 10px;
    border: 1px solid #ebebeb;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all .5s;
}
.wrap_content .social ul a i{
    font-size: 12px;
    color: #b8b8b8;
    transition: all .5s;
}
.wrap_content .social ul a:hover{
    background: var(--color-main);
    border-color: var(--color-main);
}
.wrap_content .social ul a:hover i{
    color: #FFFFFF;
}
.wrap_content .star ul{
	list-style: none;
	display: inline-flex;
	color: #b9b9b9;
	margin-bottom: 10px
}
.wrap_content .star ul li{
	padding:0 2px;
}
.wrap_content .star ul li i{
    font-size: 14px;
}
.wrapper_list_silide.product-detail {
	background:#ebebeb;
	padding-top: 50px
}

.tab_detail .tab-pane img{
    text-align: center;
    margin: 20px auto;
    display: block;
}
#product-detail .carousel-indicators{
    z-index: 9;
}
.wrap-product-detail-fooer{
    padding-bottom: 40px;
}
.wrap-product-detail-fooer .wrap-title{
    padding-top: 0;
}
.tooltip {
    position: relative;
    opacity: 1;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
    text-transform: capitalize;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }